/*---------    common    ---------*/

*  {
    line-height: 1.7;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}


/*---------    header    ---------*/


#header__sp-nav {
    display: none;
}
.header {
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 0 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0.9;
    z-index: 9999;
}
.header__img {
    width: 80px;
    transition: 0.5s;
    line-height: 0;
}
.header__img:hover {
    opacity: 0.7;
    background-color: white;
}
.header__pc-li {
    display: flex;
}
.header__pc-li__item {
    margin-left: 2em;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}
.header__pc-li__item:hover {
    opacity: 0.7;
    background-color: white;
}


@media screen and (max-width:768px) {
    #header__pc-nav {
        display: none;
    }
    #header__sp-nav {
        display: block;
        line-height: 0;
    }
    #navigation {
        position: absolute;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: white;
        z-index: 9998;
        transition: 0.7s ;
    }
    .header__sp-li {
        padding-top: 100px;
        text-align: center;
    }
    .header__sp-li__item {
        display: block;
        font-size: 20px ;
        font-weight: bold;
        color: rgb(10, 196, 243);
        margin-top: 40px;
        transition: 0.5s;
    }
    .header__sp-li__item:hover {
        opacity: 0.7;
        color: rgb(108, 226, 255);
    }

    .hamburger {
        display: inline-block;
        width: 36px;
        height: 32px;
        position: relative;
        z-index: 9999;
        cursor: pointer;
    }
    .hamburger__line--top,
    .hamburger__line--middle,
    .hamburger__line--bottom {
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: #000;
        position: absolute;
        transition: 0.5s;
    }
    .hamburger__line--top {
        top: 0;
    }
    .hamburger__line--middle {
        top: 14px;
    }
    .hamburger__line--bottom {
        bottom: 0;
    }
    .hamburger.open span:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .hamburger.open span:nth-of-type(2) {
        opacity: 0;
    }
    .hamburger.open span:nth-of-type(3) {
        top: 14px;
        transform: rotate(-45deg);
    }
    .in{
        transform: translateX(100%);
    }
}


/*---------    page__view    ---------*/


.page__view {
    height: 320px;
    background: url(../img/mv.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 43%;
    text-align: center;
}
.page__view__ttl {
    display: inline-block;
    color: white;
    font-size: 30px;
    margin: 170px auto;
}


/*---------    main-recruit    ---------*/


.main-contact {
    padding: 80px 15%;
}
.input__ttl {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
}
.input__area {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border: 1px solid rgb(196, 196, 196);
}
.input__ttl-ast {
    color: red;
}
.main-contact__btn {
    text-align: center;
}
.form__btn {
    display: inline-block;
    text-align: center;  
    width: 300px;
    padding: 10px 0;
    font-weight: bold;
    background: black; 
    color: white;
    border: 2px solid black;
    cursor: pointer; 
    transition: 0.5s;
}
.form__btn:hover {
    opacity: 0.7;
    color: white;
}


@media screen and (max-width:768px) {
    .main-contact {
        padding: 80px 5%;
    }
}




/*---------    footer    ---------*/


#footer__sp-nav {
    display: none;
}
.footer {
    padding: 20px 7%;
    background: rgb(22, 22, 22);
    font-size: 12px;
}
.footer__ber {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    color: white;
}
.footer__pc-li {
    display: flex;
}
.footer__pc-li__item {
    color: white;
    transition: 0.5s;
}
.footer__pc-li__item:hover {
    opacity: 0.7;
    color: white;
}
.footer__pc-li li {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid white;
}
.footer__pc-li li:nth-child(1) {
    border: none;
}

@media screen and (max-width:768px) {
    #footer__pc-nav {
        display: none;
    }
    #footer__sp-nav {
        display: block;
    }
    .footer-logo {
        margin-left: 10vw;
    }
    .footer__sp-li {
        width: 50vw;
        text-align: center;
    }
    .footer__sp-li__item {
        display: inline-block;
        color: white;
        margin-top: 10px;
        transition: 0.5s;
    }
    .footer__sp-li__item:hover {
        opacity: 0.7;
        color: white;
    }
}